.container.testimonial__container {
  background: var(--color-bg-variant);
  width: 40%;
  padding-bottom: 4rem;
}

.client__avatar {
  width: 4rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 1rem;
  border: 0.4rem solid var(--color-primary-variant);
}

.testimonial {
  background: var(--color-bg-variant);
  text-align: left;
  padding: 2rem;
  border-radius: 2rem;
  user-select: none;
  height: fit-content;
  border: 1px solid var(--color-primary);
}

.testimonial h5 {
  text-align: center;
}

.testimonials {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.client__review {
  color: var(--color-light);
  font-weight: 300;
  display: block;
  width: 90%;
  margin: 0.8rem auto 0;
}

/* ================= MEDIA QUERIES (MEDIUM DEVICES) ====================*/
@media screen and (max-width: 1024px) {
  .container.testimonial__container {
    width: 60%;
  }

  .testimonials {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

/* ================= MEDIA QUERIES (SMALL DEVICES) ====================*/
@media screen and (max-width: 600px) {
  .container.testimonial__container {
    width: var(--container-width-sm);
  }

  .client__review {
    width: var(--container-width-sm);
  }

  .testimonials {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.7rem;
  }
}
